.container{
    width: 100%;
	display: flex;
	justify-content: center;
	padding: 20px 0px;
}

.subcontainer {
	height: 100%;
	width: 100%;
	max-width: var(--max-width);
	gap: 40px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.subcontainer hr {
	background: var(--alternative2);
	max-width: var(--max-width);
	border: 1;
	height: 2px;
	font-weight: 100;
	width: 90%;
}

.priceContainer {
	width: 100%;
	max-width: var(--max-width);
	min-height: 20px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 20px;
}

.selector {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: flex-start;
}

.selector > label {
    font-size: 14px;
    font-weight: 600;
    color: var(--contrast);
    margin-bottom: 5px;
}

.selector > select {
	height: 40px;
	width: 100%;
	max-width: 250px;
	border-radius: 8px;
	text-align: center;
	border: 2px solid var(--main);
	background-color: var(--background);
    outline: none;
}

.select > option {
	height: 40px;
	padding: 5px;
	cursor: pointer;
}

.title {
	width: 100%;
	font-size: 22px;
	font-weight: 600;
	text-align: start;
	color: var(--contrast);
}

.price {
	font-size: 28px;
	font-weight: 300;
	width: 350px;
	text-align: end;
}

.ship {
	width: 100%;
	text-align: end;
	font-size: 18px;
}

@media screen and (max-width: 1200px) {
    .container {
        padding: 0px 20px;
    }    
}
