.header{
    height: 60px;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    background-color: var(--main);
    color: var(--background);
    z-index: 1000;
}

.isotype {
    height: 42px;
    width: 42px;
}

.container {
    width: 100%;
    max-width: var(--max-width);
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.linkContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.search {
    height: 38px;
    width: 38px;
}

.cart {
    height: 40px;
    width: 38px;
}