.activeButton {
	height: 40px;
	width: 200px;
	margin: 5px 0px;
	font-weight: 400;
	font-size: 22px;
	border: none;
	border-radius: 5px;
	color: var(--contrast);
	background-color: var(--secondary);
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 5px;
	user-select: none;
	cursor: pointer;
}

.inactiveButton {
	height: 40px;
	width: 200px;
	margin: 5px 0px;
	font-weight: 400;
	font-size: 22px;
	border: 1px solid var(--contrast);
	border-radius: 5px;
	color: var(--contrast);
	background-color: var(--background);
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 5px;
	cursor: not-allowed;
	user-select: none;
}
